* {
    box-sizing: border-box;
}

table tr > td:first-child
{
    counter-increment: rowNumber;
}

table tr td:first-child::before
{
    display: inline-block;
    content: counter(rowNumber) ".";
    width: 1em;
    margin: 0 .5em;
}
table thead {
    color: white;
    width: 100%;
}
table tbody {
    color: #7F7F7F;
}
table input {
    width: 100%;
}

.flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.ver-center {
    justify-content: center;
}
.hor-center {
    align-items: center;
}
.ver-space-between {
    justify-content: space-between;
}

#is_demo {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 0px;
}

table tbody tr td:first-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

table tbody tr {
    margin-top: 10px;
}


::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #395FF6;
    border-left: 1px solid white;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: white;
  }

  .btn-active {
      color: #EB8086;
  }
  a{
      text-decoration: none;
  }

