main section{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 15px;
    background-color: var(--container-background);
    padding: 1.5em;
    overflow-y: auto;
}
#table-wrapper {
    padding: 0;
    border-radius: 0;
    border-bottom: 2px var(--input-border) solid;
}
#input-search-invoices {
    max-width: 30%;
    margin-bottom: 1.5em;
}

table tr:hover {
    background-color: var(--lightblue);
}

table {
    border-spacing: 0 0.5em;
}