#form-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}
#left-bar {
    width: 75vw;
    height: 100%;
    background-color: var(--container-background);
}
#right-bar {
    width: 25vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--container-background);
    margin-left: 1em;
}

#left-bar, #right-bar {
    padding: 1.5em;
    border-radius: 15px;
}

#invoice-details-container {
    display: flex;
    flex-direction: column;
}
#invoice-details-container section {
    flex-direction: row;
}
#invoice-form section:first-child {
    margin-top: 0;
}
#invoice-details-container section:last-child {
    margin-left: auto;
}
#invoice-details-container input,select{
    margin-right:0.5em;
    margin-top: 0.3em;
}

#buyer-details-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#buyer-details-container input[type='text'],
#buyer-details-container input[type='number']{
    margin-top: 0.5em;
}
section label {
    margin-bottom: 0.3em;
}

#invoice-form {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#invoice-items-container {
    flex-grow: 1;
    overflow: auto;
    border-bottom: 2px var(--input-border) solid;
}

#additional-informations {
    min-height: 15vh;
    resize: none;
    margin-top: auto;
}

#right-bar {
    justify-content: space-between;
}
#right-bar section{
    margin-bottom: auto;
}
#summary {
    display: flex;
    flex-direction: row;
}
#summary > section {
    display: flex;
    flex-direction: column;
}
#summary section:first-of-type {
    margin-right: auto;
}
#summary section:last-of-type > span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#summary section:last-of-type > span > span{
    margin-left: 0.5em;
}

#is_company {
    margin-right: 0.5em;
}

table {
    border-spacing: 0.5em 0.5em;
}

@media only screen
and (device-width : 414px)
and (device-height : 896px)
and (-webkit-device-pixel-ratio : 2) {
    #form-container {
        display: flex;
        flex-direction: column;
    }
    #form-container > * {
        width: 100%;
    }
    #right-bar {
        margin-left: 0;
        margin-top: 0.5em;
    }
    #left-bar {
        min-height: 100%;
    }
    #additional-informations {
        margin-top: 1em;
    }
    tbody tr td:nth-child(1):before {
        content: "Nazwa";
    }
    tbody tr td:nth-child(2):before {
        content: "Ilość";
    }
    tbody tr td:nth-child(3):before {
        content: "Jm.";
    }
    tbody tr td:nth-child(4):before {
        content: "Netto";
    }
    tbody tr td:nth-child(5):before {
        content: "%";
    }
    tbody tr td:nth-child(6):before {
        content: "Brutto";
    }

    #invoice-street-name {
        width: 70%;
    }
    #invoice-street-nr {
        width: 30%;
    }
    #invoice-details-container select,
    #invoice-details-container input {
        width: 100%;
    }
}
