#form-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}
#left-bar {
    width: 75vw;
    height: 100%;
    background-color: var(--container-background);
}
#right-bar {
    width: 25vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--container-background);
    margin-left: 1em;
}

#left-bar, #right-bar {
    padding: 1.5em;
    border-radius: 15px;
}

#invoice-details-container {
    display: flex;
    flex-direction: column;
}
#invoice-details-container section {
    flex-direction: row;
}
#invoice-form section:first-child {
    margin-top: 0;
}
#invoice-details-container section:last-child {
    margin-left: auto;
}
#invoice-details-container input,select{
    margin-right:0.5em;
    margin-top: 0.3em;
}

#buyer-details-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#buyer-details-container input[type='text'],
#buyer-details-container input[type='number']{
    margin-top: 0.5em;
}
section label {
    margin-bottom: 0.3em;
}
table {
    table-layout: fixed;
    border-collapse:separate;
    border-spacing: 0.3em 0.5em;
}
#invoice-form {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#invoice-items-container {
    flex-grow: 1;
    overflow: auto;
    border-bottom: 2px var(--input-border) solid;
}

thead th {
    position: sticky;
    top: 0; z-index: 1;
    background-color: var(--container-background);
    line-height: 1.5em;
}
table input {
    width: 100%;
}
table th {
    text-align: left;
    padding-bottom: 0.5em;
}

table tr {
    margin-top: 0.5em;
}

#additional-informations {
    min-height: 15vh;
    resize: none;
}

#right-bar {
    justify-content: space-between;
}
#right-bar section{
    margin-bottom: auto;
}
#right-bar textarea{
    margin-top: auto;
}
#summary {
    display: flex;
    flex-direction: row;
}
#summary > section {
    display: flex;
    flex-direction: column;
}
#summary section:first-of-type {
    margin-right: auto;
}
#summary section:last-of-type > span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#summary section:last-of-type > span > span{
    margin-left: 0.5em;
}
